
body, h2, p {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}

header {
    background-color:cornflowerblue;
    color: #ffffff;
    padding: 10px 20px;
    text-align: center;
    font-size: 2em;
}

.nav-links {
    padding: 0;
    display: flex;
    justify-content: space-around;
}

.nav-links li {
    display: inline;
    padding: 0 15px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 0.5em;
    text-transform: uppercase;
}

.section-about {
    color: black;
    padding: 50px 20px;
    text-align: center;
}