
body, h2, p {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}

header {
    background-color:cornflowerblue;
    color: #ffffff;
    padding: 10px 20px;
    text-align: center;
    font-size: 2em;
}

.nav-links {
    padding: 0;
    display: flex;
    justify-content: space-around;
}

.nav-links li {
    display: inline;
    padding: 0 15px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 0.5em;
    text-transform: uppercase;
}

.section-about {
    color: black;
    padding: 50px 20px;
    text-align: center;
}

section {
    padding: 50px 20px;
    text-align: center;
}

.section-work,
.section-contact,
.section-resume {
    background: #f4f4f4;
    margin: 20px 0;
}

.section-about h2,
.section-work h2,
.section-contact h2,
.section-resume h2 {
    color: black;
    margin-bottom: 20px;
}

.content {
    max-width: 800px;
    margin: 0 auto;
}

.project-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.project-card {
    width: 300px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 20px;
    text-align: center;
    background: #ffffff;
    border-radius: 8px;
    overflow: hidden;
}

.project-image {
    width: 100%;
    height: auto;
    display: block;
}

.project-info {
    padding: 15px;
}

.project-title {
    color: black;
    margin: 10px 0;
}

.project-link {
    text-decoration: none;
    color: #2a9d8f;
    font-weight: bold;
}

.project-link:hover {
    color: #1a6865;
}